body {
	background-color: #689F38;
	background-image: url('../img/background-img.jpeg');
	background-size: cover;
	color: rgb(33,33,33);
	font-family: Roboto, sans-serif;
}
#container {
    width: 350px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 3px 5px 15px #212121;
    background-color: #DCEDC8;
}
h1 {
	color: white;
	font-family: Roboto, sans-serif;
	text-align: center;
	background-color: #8BC34A;
	padding: 15px 0;
	border-radius: 5px 5px 0 0 ;
	box-shadow: 1px 1px 5px #212121;
	margin-bottom: 10px;
}
section {
	clear: both;
	padding: 0 10px;
	line-height: 1.5em;
}
#submitItem {
	margin-bottom: 5px;
}
#ListInputSection {
	padding-bottom: 10px;
}
#addButton, #addButton:visited {
	font-weight: bolder;
	text-decoration: none;
	border-radius: 50% 50%;
	background-color: #FF4081;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: center;
	color: white;
	border: 0;
	box-shadow: 1px 1px 5px #212121;
	margin-right: 10px;
	line-height: normal;
}
#addItemTextbox {
	width: 295px;
	border: 1px solid #689F38;
	font-size: 1em;
}
#addButton:hover {
	background-color: #FF80AB;
	box-shadow: 2px 2px 6px #212121;
}
#addButton,
#uncheckedSection > input,
#checked-section > input {
	float:left;
}
.delete-button {
	float: right;
	text-decoration: none;
	border-radius: 50% 50%;
	background-color: #F44336;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: center;
	color: white;
	border: 0;
	box-shadow: 1px 1px 5px #212121;
	margin-right: 10px;
	line-height: normal;
	display: none;
}
.delete-button:hover {
	background-color: #EF9A9A;
	box-shadow: 2px 2px 6px #212121;
}
.item-checkbox {
	margin-right: 10px;
	position: relative;
	top: -0.1em;
}
.unchecked-item:hover,
.checked-item:hover {
	text-decoration: underline;
}
.checked-item {
	color: rgba(33,33,33,.5);
	text-decoration: line-through;
}
.checked-item:hover {
	color: rgba(33,33,33,.8);
}
#deleteCheckedLink {
	padding-left: 24.895px;
    color: rgba(33,33,33,.5);
    text-decoration: none;
}
#deleteCheckedLink:hover {
	color: rgba(33,33,33,.8);
	text-decoration: underline;
}
footer {
	text-align: center;
	padding: 5px 0;
	font-size: .8em;
    color: rgba(33,33,33,.5);
}